<!DOCTYPE html>
<html>
<head>
	<title>Acerca de</title>
</head>
<body>

	<p>El proyecto de leybot es mantenido en su totalidad por una sola persona ley.
	</p>
	<p>Tanto la pagina web como la aplicacion como el bot como los juegos, la configuracion, el diseño, la persona que esta escribiendo esto, todo esta hecho enteramente por ley. 
	</p>
	<p>Ademas de eso ley es el que se encarga de pagar el servidor donde se encuentra el bot
	</p>
	<p>Actualmente el precio del servidor mensualmente es alrededor de 20$ los cuales tengo que pagar
	</p>
	<p>¿Quieres apoyar el proyecto? Puedes ayudarme donandome a <a href="https://www.paypal.me/leyguistar">paypal</a>:
	</p>
</body>
</html>