<!DOCTYPE html>
<html>
<head>
	<title>Como funciona un bot</title>
</head>
<body>
	<h2>¿Como funciona un bot?</h2>
	<p>
		Tratare de ponerlo de manera sencilla para que todos lo puedan entender. <br>
		<br>

		Amino es una aplicacion y para comunicarse con la aplicacion tiene lo que se conoce como una api (application programming interface) o en español interfaz de programación de aplicaciones. Esta interfas permite que sea posible comunicarse con amino. La app de amino usa la api para comunicarse con el servidor. <br>
		<br>
		El bot lo que hace es comunicarse con la api de la misma manera en la que se comunica la app pero con una serie de comandos programados. <br>
		<br>
	</p>
	<h2>¿Que se necesita para hacer un bot?</h2>
	<p>
		Primero se tiene que saber programar. <br>
		Usando la api de amino el bot se conecta a una cuenta de amino y lee los chats que tiene esa cuenta buscando comandos, en cuanto encuentra algun comando ejecuta una funcion y envia un mensaje. <br>
		<br>
		Vale el bot funciona usando la api pero la app de amino se ejecuta en un telefono ¿Donde se encuentra el bot? <br>
		<br>
		El bot no esta hecho para correr en un telefono porque tiene que soportar bastantes chats, entonces necesita algo conocido como un servidor, que es basicamente lugar donde se ponen programas para que esten todo el tiempo funcionando.
		Pero los servidores no son gratis se tienen que pagar, mientras mejor sea el servidor mas caro va a ser. <br>
		<br>
	</p>
</body>
</html>