<!DOCTYPE html>
<html>
<head>
	<title>leybot premium</title>
</head>
<body>
<p>La version lite del bot es una version que corre en un servidor ligero, revisando todos los chats y respondiendo a los comandos.
</p>
<p>Como el servidor es mas ligero no tiene todos los comandos, no tiene un registro de los mensajes, no funciona todo el tiempo.
</p>
<p>La version pro del bot es una version dedicada exclusiva para uno o varios chats.</p>
<ul>
	<li>Es mas rapida que la version lite.</li>
	<li>Tiene mas comandos.</li>
	<li>Agradece las donaciones.</li>
	<li>Tiene un registro de todos los mensajes.</li>
	<li>Se pueden configurar los permisos de cada usuario.</li>
	<li>Siempre esta funcionando</li>
</ul>
</body>
</html>